
@{
    ViewData["Title"] = "MakePaymentBtn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment Successful!</h1>
<p style="font-size:24px">Thank you for your purchase</p>


<a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Gallery">Back To Gallery</a>