@model IEnumerable<Movie_Exercise.Models.Movie>

@{
    ViewData["Title"] = "Gallery";
}


@*<div class="row">

    @foreach (var item in Model)
    {
        <partial name="_MoviesCards" model="item"></partial>
    }
</div>*@


<div class="container">
    <div class="row mb-8 justify-content-center ">
        <div class="col-md-12 col-12">
            <div class="mb-4 border-bottom pb-2">
                <h4 class="mb-0">All Movies</h4>
            </div>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <div class="row" id="mycard">
                @foreach (var item in Model)
                {
                    <partial name="_MoviesCards" model="item"></partial>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function addToCart(movieId) {
            event.preventDefault();
            var requestUrl = "/Cart/AddToCart/movieId";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { id: movieId },
                success: function (data) {
                    var newData = data.value;
                    var x = newData.length;
                    $('#shopcount').html(x);
                }
            })
        }

        // Toget button to show description of each movie
        function toggleDescription(movieId) {
            debugger;
            const div = document.getElementById(movieId);
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#mycard .card-div").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}