@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie store is a website to sell movies, old and new movies, famous and first show movies.</p>
</div>
*@

<div class="row">

    <!-------------------------- Most popular Movie-------------------------->
    <div class="col-md-6">
        <h3>  <b>MOST POPULAR MOVIE</b></h3>
        <hr style="height:5px; color:red; opacity:1">
        <div>
            @await Component.InvokeAsync("MostPopulareMovie")
        </div>
    </div>


    <!--------------------------The Top Customer that make the most expensive order-------------------------->
    <div class="col-md-6">
        <h3> <b>TOP CUSTOMER</b> </h3>
        <hr style="height:5px; color:red; opacity:1">
        <div>
            @await Component.InvokeAsync("TopCustomer")
        </div>
    </div>

</div>
<br />

<!--------------------------The 5 newest movies based on release year-------------------------->
<div class="col-md-12">
    <h3><b>LATEST MOVIES</b></h3>
    <hr style="height:5px; color:white; opacity:1">
    <div class="owl-carousel owl-theme">
        @await Component.InvokeAsync("NewestMovies")
    </div>
</div>
<br />

<!--------------------------The 5 Oldest movies based on release year-------------------------->
<div class="col-md-12">
    <h3> <b> OLDEST MOVIES</b></h3>
    <hr style="height:5px; color:Blue; opacity:1">
    <div class="owl-carousel owl-theme">
        @await Component.InvokeAsync("OldestMovies")
    </div>
</div>
<br />

<!--------------------------The 5 Cheapest movies based on release year-------------------------->
<div class="col-md-12">
    <h3><b>CHEAPEST MOVIES</b></h3>
    <hr style="height:5px; color:red; opacity:1">
    <div class="owl-carousel owl-theme">
        @await Component.InvokeAsync("CheapestMovies")
    </div>
</div>
<br />






@section Scripts {
    <script>
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
}


