@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie store is a website to sell movies, old and new movies, famous and first show movies.</p>
</div>
