@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie store is a website to sell movies, old and new movies, famous and first show movies.</p>
</div>
*@


<!-------------------------- Most popular Movie-------------------------->
<div class="col-md-12">
    <h3>  MOST POPULAR MOVIE</h3>
    <div>
        @await Component.InvokeAsync("MostPopulareMovie")
    </div>
</div>
<br />

<!--------------------------The 5 newest movies based on release year-------------------------->
<div class="col-md-12">
    <h3>  Latest MOvIES</h3>
    <div>
        @await Component.InvokeAsync("NewestMovies")
    </div>
</div>
<br />

<!--------------------------The 5 Oldest movies based on release year-------------------------->
<div class="col-md-12">
    <h3>  Oldest MOvIES</h3>
    <div>
        @await Component.InvokeAsync("OldestMovies")
    </div>
</div>
<br />

<!--------------------------The 5 Cheapest movies based on release year-------------------------->
<div class="col-md-12">
    <h3>  CHEAPEST MOVIES</h3>
    <div>
        @await Component.InvokeAsync("CheapestMovies")
    </div>
</div>
<br />


<!--------------------------The Top Customer that make the most expensive order-------------------------->
<div class="col-md-12">
    <h3>  TopCustomer</h3>
    <div>
        @await Component.InvokeAsync("TopCustomer")
    </div>
</div>
<br />
